:root {
  --primary: #4e4edf;
  --secondary: #ffc600;
  --font: 'IBM Plex Mono', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('./assets/bg_pattern.png');
  color: #1a2a3a;
  font-family: var(--font);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
}

h1 {
  border-bottom: 4px dashed var(--secondary);
  font-size: 4.2rem;
  padding-bottom: 8px;
  transform: rotate(-2deg);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 12rem;
}

h2,
.copyright {
  line-height: 1.6;
}

a {
  color: var(--secondary);
}

button {
  background: var(--secondary);
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-family: var(--font);
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
  outline: none;
  text-transform: uppercase;
  margin-top: 12rem;
  letter-spacing: 1px;
}

button:hover {
  background: #f5c001;
}

.copyright {
  text-align: center;
  font-weight: 600;
  color: var(--primary);
  margin-top: 4rem;
  font-size: 1.4rem;
}
